.logo {
  width: 300px;
}
.jumbotronBackground {
  background: white;
  padding: 30px;
}
.recipeResultsList {
  padding: 30px;
}

.container {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  padding: 30px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.previous-searches-size {
  font-size: small;
}

.form-group {
  text-align: center;
}

.row {
  padding: 15px;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.recipeResultsList {
  border-style: ridge;
  border-color: rgba(255, 136, 102, 0.67);
}

.card {
  align-items: center;
}

.card:hover {
  cursor: pointer;
}

.card img {
  width: 250px;
  height: 200px;
  align-items: center;
}

.recipe-details-box {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
.recipe-title {
  color: blank;
  padding: 15px;
}
.previous-searches {
  text-align: center;
  align-items: center;
  padding: 15px;
}

.previous-searches-img {
  width: 150px;
  height: 100px;
  align-items: center;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
